@use "sass:map";

.dropdown-cust-btn {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  border: 0;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.75rem;
}
.dropdown-menu-cust {
  width: 100% !important;
  transform: translate(0px, 65px) !important;
}
